

.languages-drop-down{
    /* border-style: solid;
    border-color: red; */

    display: flex;
    justify-content: flex-end;

    margin-top: 2%;
}

.languages-selector{
    width: 50mm;
    height: 12mm;

    margin-right: 20px;

    border-style: solid;
    border-color: black;
    border-width: 3px;
}