
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    /* border-style: solid; */
    height: 40mm;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;

    border-bottom-style: solid;

    /* background-color: #42b183; */
}

.header-image{
    cursor: pointer;
    width: 70mm;
    height: 40mm;
}

.navbar-link{
    color: black !important;
}

.navbar-container{
    font-size: 15px;
    font-weight: 600;
    
}